img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#cardlist{
    list-style-type: none;
    margin-left: -18px;
    margin-top: 15px;
}


.card{
    background-color: #343A40;
    color: white;
    bottom: 5px;
}

.createBtn{
    background-color: #FFB90C;

}


