<div class="center">
  <div class="profile-card">
    <img src="assets/profile.png" alt="Profile Image" class="profile-image">
    <div class="profile-details">
      <div class="profile-field">
        <span class="field-label">ID:</span>
        <span>{{profile?.id}}</span>
      </div>
      <div class="profile-field">
        <span class="field-label">Name:</span>
        <span>{{profile?.name}}</span>
      </div>
      <div class="profile-field">
        <span class="field-label">Mobile:</span>
        <span>{{profile?.mobile}}</span>
      </div>
    </div>
  </div>zz
</div>

  