.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#343A40;
    padding: 20px 0; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #ffc107; 
}




@media (max-width: 768px) {
    .footer {
        padding: 10px 0; 
    }
}
