<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a  routerLink="/">
                    <i class="bi bi-house-door"></i>
                    <span>Home</span>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="passbook">
                    <i class="bi bi-book"></i>
                    <span>Passbook</span>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="panels">
                    <i class="bi bi-layout-text-window-reverse"></i>
                    <span>ID's</span>
                </a>
            </div>
            <div class="col text-center">
                <a routerLink="cart">
                    <i class="bi bi-cart"></i>
                    <span>Cart</span>
                </a>
            </div>
        </div>
    </div>
</footer>
